.container{
    width: 1200px;
}
header{
    background-color:white;
}
.header-top{
    border-bottom:1px solid #efefef;
}
.header-top a{
    color:#24466b;
    margin-right: 15px;
    font-size: 13px;
}
.fa-search{
    color:#24d2de;
    font-size: 15px;
    margin-right: 15px;
}
ul{
    margin-bottom: 0;
}
.top-right li{
    display:inline-block;
    font-size: 13px;
}
.header-bottom{
    box-shadow: 0 2px 4px rgba(45,62,80,0.12);
    height: 80px;
    display: flex;
    position: relative;
    background-color: white;
    z-index: 9;
}
.navbar{
    width: 100%;
}
.logo{
    width: 100px;
    height: 30px;
    margin-right: 70px;
}
.nav-down{
    justify-content: center;
    align-items: baseline;
}
.nav-down a{
    color:#24466b;
    margin-right: 15px;
    font-size: 17px;
    font-weight: 500;
}
.nav-down li{
    margin-right: 20px;
}
.btn{
    background-color: #ff7a59;
    color: #fff;
    border: 1px solid #ff7a59;
    border-radius: .1875rem;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}
.btn:hover, .btn2:hover{
    background-color: #fff;
    color:#ff7a59;
    border: 1px solid #ff7a59;
}
.jumbo{
    height:750px;
    background-color:#fff1ee;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg);
    background-position: top right;
    background-size: 42rem;
    background-repeat: no-repeat;
}
.jumbo-background{
    height: 100%;
    position: relative;
}
.homepage-svg{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
}
.jumbotron{
    margin-bottom: 0;
    background:none;
    max-width: 430px;
    text-align: left;
}
h1{
    color:#24466b;
    font-size: 45px;
    font-weight: 700;
}
h2{
    color:#24466b;
    font-size: 38px;
    font-weight: 700;
}
h3{
    font-size: 25px;
    font-weight: bold;
}
h5{
    font-size: 17px;
    font-weight: 400;
}
p{
    font-size: 18px;
    font-weight: 350;
    margin:20px 0;
}
.btn2{
    padding: 25px 40px;
    font-size: 18px;
    cursor: pointer;
}
.btn2:hover{

}
#little{
    font-size: 14px;
    margin-top: 40px;
    font-weight: 400;
}
.Powerful{
    border-top:3px solid #33475b;
    background-color:#f5f8fa;;
}
.powerful-up{
    padding: 60px;
}
.powerful-center{
    padding-bottom: 60px;
}
.powerful-up button{
    padding:10px 40px;
}
.btn3{
    background-color: #fff;
    color:#ff7a59;
    border: 1px solid #ff7a59;
}
.box{
    width: 48%;
    background-color: white;
    color:#24466b;
    box-shadow: 0 0 11px #eaf0f6;
    padding: 35px 70px;
    margin-left: 15px;
    margin-bottom: 15px;
    float:left;
}
.box p{
    font-size: 14px;
    margin-bottom: 35px;
}
.box i{
    color:#ff7a59;
    font-size: 17px;
    margin-right: 15px;
}
#list-box{
    list-style-type: none;
    padding: 0;
    margin:15px 0;
}
.box-down li{
    font-size: 14px;
    margin-bottom: 15px;
}
.box button{
    padding: 14px 30px;
    font-size: 14px;
}
.box:hover{
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transform: scale(1.014);
}
.blue{
    color:white;
    background-image: linear-gradient(to right, #00a4bd, #00bba7);
}
.nr-top{
    padding: 60px;
}
.nr-top h2, .nr-box h2{
    color:white;
}
.nr-box{
    width: 25%;
    padding:10px;
    border-bottom: 1px solid white;
    border-right:1px solid white;
    position: relative;
    float:left;
}
.nr-box img{
    padding: 10px;
    max-width: 150px;
    max-height: 100%;
}
.nr-box i{
    font-size: 10px;
    position: absolute;
    top: 46%;
    right: 30%;
}
.nr-box2{
    border-bottom: 0;
}
.nr-box3{
    border-right: 0;
}
.Growup{
    background-color: white;
    padding:60px 0;
}
.growup-top-left{
    width: 50%;
    display:inline-block;
    padding:50px;
    float: left;
}
.growup-top-right{
    width: 50%;
    display:inline-block;
    float: left;
}
.loghi{
    width: 25%;
    display:inline-block;
    float: left;
}
.loghi-top{
    padding:15px;
}
.loghi img{
    width: 100%;
    padding:0 15px ;
    max-height: 100%;
}
.loghi-bottom{
    padding:15px;
}
.growup-bottom{
    padding: 60px;
    padding-top: 0;
}
.growup-bottom-left{
    width: 65%;
    float: left;
    padding: 38px;
    padding-left: 0;
}
.growup-bottom-right{
    width: 35%;
    float: left;
    padding:25px;
    padding-right: 0;
}
.growup-bottom-right img{
    max-width: 100%;
}
#last{
    font-size: 12px;
    margin:20px 0;
}
